In [1]:
import pymysql
#mysql에 접근해서 sql 쿼리문에 접근할 수 있게 하는 lib 
#cmd 에서 pip install pymysql 입력해서 설치해주기 
import pandas as pd

In [2]:
sample_db = pymysql.connect (
    user = "root",
    passwd = "pw0426!", #내 sql비번
    host = "localhost",
    db = "ubion",
    charset = "utf8"
)

In [3]:
cursor = sample_db.cursor(pymysql.cursors.DictCursor)

In [6]:
#기초 설정

def show_base1 ():

    sql = "SELECT * FROM base1"
    cursor.execute(sql) #sql 실행
    result = cursor.fetchall() #결과값을 받아옴 
    pd_resualt = pd.DataFrame(result)
    return print(pd_resualt)

show_base1()

      post_id password
0       text2     5345
1       text5     3333
2  textpython     1111

In [15]:

def show_tables2 ():

    sql = "SELECT * FROM tables2"
    cursor.execute(sql) #sql 실행
    result = cursor.fetchall() #결과값을 받아옴 
    return print(result)

show_tables2()

[{'no': 1, 'post_id': 'test1', 'phone': '0104959449'}, {'no': 2, 'post_id': 'test2', 'phone': '01045675678'}, {'no': 3, 'post_id': 'test3', 'phone': '0104345345'}, {'no': 4, 'post_id': 'test4', 'phone': '0102323434'}, {'no': 5, 'post_id': 'test5', 'phone': '0103454323'}, {'no': 6, 'post_id': 'test6', 'phone': '0000'}]

In [16]:
#cmd에서 처음에 데이터 테이블 만들 때 프라이머리 키를 주었었기 때문에
# 아래 코드에서는 primary 키를 따로 주지 않는다.   

Insert_Sql = "INSERT INTO base1 VALUES ('textpython1', '34536')"
cursor.execute(Insert_Sql)

1

In [18]:
show_base1()

[{'post_id': 'text2', 'password': '5345'}, {'post_id': 'text5', 'password': '3333'}, {'post_id': 'textpython', 'password': '1111'}, {'post_id': 'textpython1', 'password': '34536'}]

In [24]:
Update_sql = "UPDATE base1 SET password ='2222' WHERE password='1111'"
cursor.execute(Update_sql)

1

In [25]:
show_base1()

[{'post_id': 'text2', 'password': '5345'}, {'post_id': 'text5', 'password': '3333'}, {'post_id': 'textpython', 'password': '2222'}, {'post_id': 'textpython1', 'password': '34536'}]

In [23]:
cursor.execute("SELECT * FROM base1")
print(cursor.fetchall())

[{'post_id': 'textpython', 'password': '1111'}]

In [26]:
Del_sql = "DELETE FROM base1 WHERE post_id = 'text2'"
cursor.execute(Del_sql)

1

In [27]:

show_base1()

[{'post_id': 'text5', 'password': '3333'}, {'post_id': 'textpython', 'password': '2222'}, {'post_id': 'textpython1', 'password': '34536'}]

In [29]:
Order_BY_sql= "SELECT * FROM tables2 ORDER BY post_id"
cursor.execute(Order_BY_sql)
show_tables2()

[{'no': 1, 'post_id': 'test1', 'phone': '0104959449'}, {'no': 2, 'post_id': 'test2', 'phone': '01045675678'}, {'no': 3, 'post_id': 'test3', 'phone': '0104345345'}, {'no': 4, 'post_id': 'test4', 'phone': '0102323434'}, {'no': 5, 'post_id': 'test5', 'phone': '0103454323'}, {'no': 6, 'post_id': 'test6', 'phone': '0000'}]

In [30]:
select_sql= "SELECT * FROM tables2 ORDER BY post_id DESC"

cursor.execute(select_sql)
result = cursor.fetchall() 
print(result)

[{'no': 6, 'post_id': 'test6', 'phone': '0000'}, {'no': 5, 'post_id': 'test5', 'phone': '0103454323'}, {'no': 4, 'post_id': 'test4', 'phone': '0102323434'}, {'no': 3, 'post_id': 'test3', 'phone': '0104345345'}, {'no': 2, 'post_id': 'test2', 'phone': '01045675678'}, {'no': 1, 'post_id': 'test1', 'phone': '0104959449'}]

In [30]:
select_sql= "SELECT * FROM tables2"

cursor.execute(select_sql)
result = cursor.fetchall() 
print(result)

[{'no': 1, 'post_id': 'test1', 'phone': '0104959449'}, {'no': 2, 'post_id': 'test2', 'phone': '01045675678'}, {'no': 3, 'post_id': 'test3', 'phone': '0104345345'}, {'no': 4, 'post_id': 'test4', 'phone': '0102323434'}, {'no': 5, 'post_id': 'test5', 'phone': '0103454323'}, {'no': 6, 'post_id': 'test6', 'phone': '0000'}]

In [35]:
join_sql= '''SELECT base1.post_id, base1.password, tables2.phone
 FROM base1 LEFT JOIN tables2 ON base1.post_id=tables2.post_id'''

#SELECT A.칼럼명, A.칼럼명, B.칼럼명, B.칼럼명2 FROM A LEFT JOIN B ON A.key = B.key
#select_sql= '''SELECT base1.post_id, base1.password, tables2.phone as pw FROM base1 LEFT JOIN tables2 ON base1.post_id = tables2.post_id'''


cursor.execute(join_sql)
result = cursor.fetchall() 
print(result)

#1에는 있는데 2에는 없는 애들이 있다. 이런건 어떻게 해야하나? 
#phone이 없는 값은 none 이라고 나옴 
#겹치는 애인 text5는 password 값도 갖고 오고 phone 값도 같이 가져온다.

[{'post_id': 'text5', 'password': '3333', 'phone': None}, {'post_id': 'textpython', 'password': '2222', 'phone': None}, {'post_id': 'textpython1', 'password': '34536', 'phone': None}]

In [34]:
select_sql= "SELECT * FROM base1"

cursor.execute(select_sql)
result = cursor.fetchall() 
print(result)

[{'post_id': 'text5', 'password': '3333'}, {'post_id': 'textpython', 'password': '2222'}, {'post_id': 'textpython1', 'password': '34536'}]

In [28]:
#inner
select_sql= '''SELECT base1.post_id, base1.password, tables2.phone FROM base1 
INNER JOIN tables2 ON base1.post_id = tables2.post_id'''

cursor.execute(select_sql)
result = cursor.fetchall() 
print(result)

()

In [13]:
#inner
select_sql= '''SELECT password, COUNT(password) as cnt FROM base1 
GROUP BY password'''
#count 컬럼명인 key값을 다 적지 않으려고 cnt라는 별칭을 가져옴 
#count 는 개수를 세서 넣어주는 것 

cursor.execute(select_sql)
result = cursor.fetchall() 
print(result)

[{'password': '5345', 'cnt': 1}, {'password': '3333', 'cnt': 1}, {'password': '1111', 'cnt': 1}]

In [ ]:
#sql 워크벤치에 업데이트 하는 것이다. 
sample_db.commit() #
sample_db.close() #mysql 닫음